@model Login
@{
    ViewData["Title"] = "Login";
   
}

<section class="container">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="m-10 p-2 bg-white">
          <div>
                <h4 class="mt-10  text-md text-black">Sign In To Your Account</h4>
          </div>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

           <div class="mt-10 h-100">
                <form role="form" id="LoginForm">
                    <div class="form-group mt-3">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" type="email" class="form-control" placeholder="Enter email" />
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" type="password" placeholder="Enter Password" />
                    </div>
                    <input class="btn btn-primary mt-3" type="button" onclick="SubmitLoginForm()" value="Login In" />
                    <div class="form-group mt-3">
                        <span>
                            <p id="emailHelp" class="form-text text-muted">Don't have an account? Click <a asp-controller="Account" asp-action="Register">here</a> to register.</p>
                        </span>
                  </div>
                </form>
           </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="~/lib/jquery-validation//dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript" asp-append-version="true" src="~/js/Login.js">
     
    </script>
}