@model User
@{
    ViewData["Title"] = "Register User";
}

<div class="container">
    <div class="flex-column flex-row justify-content-between">
        <h1>Register Below...</h1>
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </div>

    <div>
        <form method="post">
            <div class="form-group">
                <div class="mb-3">
                    <label class="form-label" asp-for="Name"></label>
                    <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Enter your name">
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Email"></label>
                    <input asp-for="Email" type="email" class="form-control" id="email" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Password"></label>
                    <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Enter password">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

