@model User
@{
    ViewData["Title"] = "Register User";
}

<section class="container">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="m-10 p-2 bg-white w-80">
            <div>
                <h4 class="mt-10  text-md text-black">Create An Account With Us</h4>
            </div>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <div class="mt-10 h-100">
                <form id="RegisterForm" role="form">
                    <div class="form-group mt-3">
                        <div class="mb-3">
                            <label class="form-label" asp-for="Name"></label>
                            <input asp-for="Name" type="text" class="form-control" placeholder="Enter your name">
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label" asp-for="Email"></label>
                            <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com">
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label" asp-for="Password"></label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Enter password">
                        </div>
                    </div>
                    <input class="btn btn-primary mt-3" type="button" onclick="SubmitRegisterForm()" value="Register" />
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/lib/jquery-validation//dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript" asp-append-version="true" src="~/js/Register.js">

    </script>
}