@* @model MindSpringsTest.Models.ViewModels.TranslatorResponseViewModel *@
@{
    ViewBag.Title = "Translation Success";
}

<h2>Translation Success</h2>

<div>
    <p>The translated text is: @ViewBag.Translation</p>
</div>
