
@{
    ViewData["Title"] = "Index";
}

@* <div>
    <form id="SubmitString" role="form">      
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Enter string you want to trnaslate</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <input class="btn btn-primary" type="button" onclick="SubmitStringForm()" value="Translate" />
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation//dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript" asp-append-version="true">
        function SubmitStringForm() {
            let validator = $("#SubmitString").validate();
            validator.form();

            if (validator.valid()) {

                let form = $("#SubmitString").get(0);
                $.ajax({
                    url: '/String/Create',
                    type: 'POST',
                    data: new FormData(form),
                    processData: false,
                    contentType: false,
                    beforeSend: function () {

                    },
                    complete: function () {

                    },
                    success: function (response) {
                        window.location.href = "/String/Index";
                    },
                    error: function (xhr) {

                    },

                })
            }
        }
    </script>
}
 *@